<%- include('./partials/base') %>
<%- include('./partials/header') %>
<div class="homepage container">
    <div class="header">
        <h1>Welcome to Boomerang</h1>
        <% if (user) { %>
        <a href="/questions/new">
            <p>Ask away, it will come back...</p>
        </a>
        <% } %>
    </div>

    <% questions.forEach(question => { %>
    <div class="question-module">
        <div class="question-title">
            <h2>
                <%= question.questionTitle %> 
            </h2>
        </div>
        <div class="question-body">
            <p>
                <%= question.questionBody %> 
            </p>
            <span><a href="/questions/show/<%= question._id %> ">Read more</a></span>
        </div>
        <div class="answers-group d-flex">
            <div class="answer-selection mx-2">
                <span>
                    Answer Unselected
                </span>
            </div>
            <div class="answer-numbers mx-2">
                <span>
                    Answers: <%= question.answers.length %> 
                </span>
            </div>
        </div>
    </div>
    <% }) %>

    

</div>
<%- include('./partials/footer') %>