<%- include('./partials/base') %>
<%- include('./partials/header') %>
<div class="homepage container">
    <div class="ask-question row d-flex flex-column my-5">
        <a href="/questions/new" class="question-button btn btn-primary col-md-3 mx-auto">Throw your question!</a>
        <h3 class="mx-auto">It may comeback...</h3>
    </div>
    <div class="questions-filter-wrapper row my-5">
        <div class="questions-searchbar col-md-9 mx-auto my-1">
            <form action="/" class="d-flex">
                <input name="search" type="text" placeholder="What are you looking for?">
                <button type="submit" class="btn btn-primary ml-2">Search</button>
            </form>
        </div>
        <div class="questions-filter col-md-9 mx-auto my-2">
            <div class="d-flex questions-buttons-filter">
                <div class="questions-filter-date">
                    <form action="/">
                        <% if (sort.filter === 'sortDate') { %>
                            <input name="filterDate" type="hidden" value=<%= sort.val %> >
                            <button type="submit" class="btn btn-default">Date</button>
                        <% } else {%>
                            <input name="filterDate" type="hidden" value='-1' >
                            <button type="submit" class="btn btn-default">Date</button>
                        <% } %> 
                    </form>
                </div>
                <div class="questions-filter-engagement">
                    <form action="/">
                        <% if (sort.filter === 'sortEngagement' ) { %>
                        <input name="filterEngagement" type="hidden" value=<%= sort.val %> >
                        <% } else {%>
                        <input name="filterEngagement" type="hidden" value="1">
                        <% } %>
                        <button type="submit" class="btn btn-default">Engagement</button>
                    </form>
                </div>
                <div class="questions-filter-engagement">
                    <form action="/">

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="topic-filter" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Topic
                            </button>
                            <div class="dropdown-menu" aria-labelledby="topic-filter">
                                <a class="dropdown-item" href="?topic=art">art</a>
                                <a class="dropdown-item" href="?topic=education">education</a>
                                <a class="dropdown-item" href="?topic=entertainment">entertainment</a>
                                <a class="dropdown-item" href="?topic=finance">finance</a>
                                <a class="dropdown-item" href="?topic=food">food</a>
                                <a class="dropdown-item" href="?topic=game">game</a>
                                <a class="dropdown-item" href="?topic=health">health</a>
                                <a class="dropdown-item" href="?topic=lifestyle">lifestyle</a>
                                <a class="dropdown-item" href="?topic=politics">politics</a>
                                <a class="dropdown-item" href="?topic=shopping">shopping</a>
                                <a class="dropdown-item" href="?topic=sports">sports</a>
                                <a class="dropdown-item" href="?topic=travel">travel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% questions.forEach(question => { %>
    <div class="question-module my-5 row">
        <div class="question-group col-md-9 mx-auto shadow">
            <div class="question-title my-3">
                <h2>
                    <%= question.questionTitle %> 
                </h2>
            </div>
            <div class="question-author mx-5">
                <span>Username: <b><%= question.authorUsername %></b></span>
            </div>
            <div class="published d-flex mx-5">
                <span class="mr-2">Published: </span>
                <span>
                    <%= question.createdAt %>
                </span>
            </div>
            <div class="topics d-flex mx-5">
                <% question.topic.forEach(element=> { %>
                    <a href="/?topic=<%= element %>">#<%= element %>&nbsp</a>
                    <% }) %>
            </div>
            <div class="question-body mx-5 mt-3">
                <p>
                    <%= question.questionBody %> 
                </p>
                <span><a href="/questions/show/<%= question._id %> ">Read more</a></span>
            </div>
            <div class="answers-group d-flex">
                <div class="answer-selection mr-2">
                    <% if (question.answerSelected) { %>
                    <span>
                        Answer Selected
                    </span>
                    <% } else { %>
                    <span>
                        Answer Unselected
                    </span>
                    <% } %> 
                </div>
                <div class="answer-numbers ml-2">
                    <span>
                        Answers: <%= question.answers.length %> 
                    </span>
                </div>
            </div>

        </div>
    </div>
    <% }) %>

    

</div>
<%- include('./partials/footer') %>