<%- include('../partials/base') %>
<%- include('../partials/header') %>
    <div class="profile-detail-page container">
        <div class="row">
            <div class="profile-container d-flex col-md-4 mx-auto mt-5">
                <div class="left-column text-center m-2">
    
                    <img class="rounded" src=<%=user.avatarUrl %> alt="user-avatar">
                    <div class="recent-questions text-left">
                        <span>Recent questions asked:</span>
                        <% if (questions) { %>
                            <% for( let i = 0; i < questions.length; i++ ) { %>
                            <a href="/questions/show/<%= questions[i]._id %>">
                                <p><%= questions[i].questionTitle %> </p>
                            </a>
                            <% } %>
                        <% } %>
                        <!-- use ejs to render the last 3 questions posted by the user -->
                    </div>
    
                </div>
                <div class="right-column m-2">
    
                    <div class="username">
                        <div id="username-pre">
                            <span>Username:</span>
                            <p><%= user.username %> <button id="username-edit" class="btn btn-outline-danger py-0 px-2">edit</button></p>
                        </div>
                        <div id="username-editor" class="d-none">
                            <span>Username:</span>
                            <form class="d-flex" action="/users/update/<%= user._id %>?_method=PUT" method="POST">
                                <input type="text" name="username" value=<%= user.username %> style="width: 125px" maxlength="12" minlength="5">
                                <input type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                    <div class="email">
                        <span>Email:</span>
                        <p><%= user.email %></p>
                    </div>
                    <div class="q-asked">
                        <span>Questions Asked:</span>
                        <p><%= user.questionsAsked %></p>
                    </div>
                    <div class="a-selected">
                        <span>Answers Selected:</span>
                        <p><%= user.answersSelected %></p>
                    </div>
    
                </div>
            </div>

        </div>
    </div>

<%- include('../partials/footer') %>