<%- include('../partials/base') %>
<%- include('../partials/header') %>

<div class="question-card container">
    <div class="question-card-header">
        <h1 class="question-title"><%= question.questionTitle %></h1>
    </div>
    <div class="question-card-main">
        <div class="author d-flex">
            <span class="mr-2">Author:</span>
            <span><%= question.authorUsername %></span>
        </div>
        <div class="published d-flex">
            <span class="mr-2">Published: </span>
            <span><%= question.createdAt %></span>
        </div>
        <div class="topics d-flex">
            <% question.topic.forEach(element => { %>
            <a href="#"><%= element %> </a>
            <% }) %>
        </div>
        <div class="question-body d-flex">
            <p>
                <%= question.questionBody %>
            </p>
        </div>
        <% if (user) { %>
            <% if (!user._id.equals(question.authorId)) { %>
                <button id="answer-trigger" class="btn btn-outline-success">Answer question</button>
            <% } %>
        <% } else { %>
        <button id="answer-trigger" class="btn btn-outline-success">Answer question</button>
        <% } %>
    </div>
</div>

<div id="answer-form" class="container d-none">
    <form action="/questions/answers/add/<%= question._id %>" method="POST">
        <% if (!user) { %>
        <textarea class="form-control" type="text" name="answerBody" maxlength="200"
            placeholder="Please login to answer the question" disabled></textarea>
        <input type="submit" value="Login using Google">
        <% } else {%>
        <textarea class="form-control" type="text" name="answerBody" maxlength="200" placeholder="Answer to the question goes here..." required></textarea>
        <input type="submit" value="Answer">
        <% }%>
    </form>
</div>

<% if (question.answers.length) { %>
    <% answers.forEach(answer=> { %>
        <div class="answer-card container">
            <div class="container">
                <div class="round">
                    <input type="checkbox" id="checkbox" />
                    <label for="checkbox"></label>
                </div>
            </div>
            <div class="answer-card-main">
                <div class="author d-flex">
                    <span class="mr-2">Author:</span>
                    <span>
                        <%= answer.authorUsername %>
                    </span>
                </div>
                <div class="published d-flex">
                    <span class="mr-2">Published: </span>
                    <span>
                        <%= answer.createdAt %>
                    </span>
                </div>
                <div class="answer-body d-flex">
                    <p>
                        <%= answer.answerBody %>
                    </p>
                </div>
            </div>
        </div>
        <% }) %>
            <% } %>


<%- include('../partials/footer') %>